
    <p>Please confirm that this request to login to<br>
      <code><%= identityServerUrl %></code><br>
      originates from a trusted Model Context Protocol client.</p>

    <ul>
      <li><strong><%= client['clientName'] %></strong> (<a href="<%= client['clientUri'] %>">website</a>)</li>
      <li>Redirects <code><%= client['redirectUris'] && client['redirectUris'].length > 0 ? client['redirectUris'].join(' ') : 'none' %></code></li>
    </ul>

    <form autocomplete="off" action="/interaction/<%= uid %>/confirm-login" method="post">
      <p class="call-to-action">
        <input type="checkbox" name="confirmed" id="confirmed" value="true">
        <label for="confirmed">I trust this client with access my account.</label>
      </p>
      
      <p class="form-controls"><a class="btn" href="/interaction/<%= uid %>/abort">Cancel</a> <button type="submit" class="btn login-submit">Login</button></p>
    </form>
